@import 'config';

.choice-container {
    @include boxShadow-choiceContainer;
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;    
    background-color: white;
    &:hover {
        @include border-choiceContainer;
        cursor: pointer;        
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    color: white;
    background-color: #56a5eb;
}

.choice-text {
    padding: 1.5rem;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/*HUD*/

#hud {
    display: flex;
    justify-content: space-around;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}
